.background {
  fill: none;
  pointer-events: all;
}

.countries {
  fill: #aaa;
  fill-opacity: .25;
}

.countries .active {
  fill: orange;
}

.forma {
  stroke: grey;
  shape-rendering: auto;
  fill: grey;
  fill-opacity: .5;
}

.antarctica {
  fill: none;
}

#namer {
    font-size: 3em;
    margin-bottom: 0.4em;
    font-stretch: ultra-condensed;
    text-transform: uppercase;
    letter-spacing: -.05em;
    color: #4d4d4d;
    font-family: "myriad-pro-condensed","Helvetica Neue","sans-serif";
    font-weight: 700;
}
