.background {
  fill: none;
  pointer-events: all;
}

.countries {
  fill: #aaa;
  fill-opacity: .25;
}

.countries .active {
  fill: orange;
}

.forma {
  stroke: grey;
  shape-rendering: auto;
  fill: grey;
  fill-opacity: .5;
}

.antarctica {
  fill: none;
}

.circle {
 stroke: black;
}
